@import 'tools/global';
@import 'tools/modal';
@import 'tools/nav';
@import 'tools/main';
@import 'tools/footer';
@import 'tools/adoptionHighlight';

.help-container {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: calc(80% - 14rem - 5rem);
  overflow-y: auto;
  padding: 0 15%;
  position: absolute;
  text-align: justify;
  top: calc(20% + 14rem);
  width: 100%;

  .help-entry {
    margin: 3rem 0;
    width: 100%;

    &:first-child {
      padding-top: 3rem;
    }

    &:last-child {
      padding-bottom: 6rem;
    }

    h3 {
      font-size: 2.2rem;
      font-style: italic;
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: center;
    }

    p {
      text-indent: 4rem;
    }
  }
}

@import 'tools/responsive';
