@import 'tools/global';
@import 'tools/modal';
@import 'tools/nav';
@import 'tools/main';
@import 'tools/footer';
@import 'tools/adoptionHighlight';

.help-container {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: justify;

  .help-entry {
    margin: 3rem 0;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }

    h3 {
      font-size: 2.2rem;
      font-style: italic;
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: center;
    }

    p {
      text-indent: 4rem;
    }
  }
}

@import 'tools/responsive';
